<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wogebi.android"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- other -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 开机自启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 允许安装包 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/Theme.App">
        <!-- activity -->
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CalendarActivity"
            android:theme="@style/Theme.Pager" />
        <activity
            android:name=".activity.CalendarAddActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.SignedActivity" />
        <activity android:name=".activity.WalkwayListActivity" />
        <activity android:name=".activity.TestActivity" />
        <!-- receiver -->
        <receiver android:name=".broadcast.WalkwayBootBroadcastReceiver">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.WalkwayShutdownBroadcastReceiver">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.WalkwayAlarmBroadcastReceiver">
            <intent-filter android:priority="0x7fffffff">
                <!-- 以下是为了 service 复活 -->
                <action android:name="com.wogebi.portal.broadcast.WalkwayAlarmBroadcastReceiver.ACTION_WALKWAY_ALARM" />
                <!-- 开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 常用的系统广播 -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- service -->
        <service
            android:name=".service.CoreService"
            android:enabled="true"
            android:priority="1000"
            android:process=":core"></service>
        <service
            android:name=".service.WalkwayService"
            android:enabled="true"
            android:priority="1000"
            android:process=":walkway">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.wogebi.portal.service.WalkwayService" />
            </intent-filter>
        </service>
        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:priority="1000"
            android:process=":location" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nEd0pe7Y8fugTntWXdt9kuCZ" />
        <!-- companydesk: nEd0pe7Y8fugTntWXdt9kuCZ -->
        <!-- homedesk: oeINm8atm6FrPr65XEXZ1bGO -->
        <!-- macbookpro: M1BRa2U91xb5KLPFW0CMOSz7 -->
        <!-- debug: gB49RAtRH7bCps2CUTaL1jbi -->
    </application>
</manifest>
